* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

footer {
    font-size: 16px;
    padding: 10px 0px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 28px;
}

 #add-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 5px;
 }

 #add-buttons button {
    font-size: 30px;
    padding: 10px 0;
 }

 caption {
    text-align: left;
    padding: 20px 50px;
    font-size: 25px;
 }

 #content {
    display: grid;
    gap: min(50px);
    padding: 20px;
 }

tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

thead tr th{
    border-bottom: solid black 2px;
}

a {
    color: black;
    text-decoration: none;
}

form {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    align-items: center;
}

::placeholder, input, form, form button {
    font-size: 20px;
}

form button {
    height: 30px;
}

input {
    height: 30px;
    padding-left: 10px;
}

.seen {
    display: flex;
    justify-self: center;
    gap: 20px;
}

.checkmark {
    height: 30px;
    width: 30px;
}